*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

body{
    background-color: #81a4e6;
}

.container { 
    width: 500px; 
    height: 580px; 
    background: rgb(123, 61, 223); 
    box-shadow: 0 10px 15px rgba(123, 61, 223, 0.7); 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 7px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-evenly; 
    padding: 16px; 
} 

input {
    margin-bottom: 10px;
    width: calc(100% - 8px);
    padding: 5px;
    border: 1px solid #8c8c8c; 
    border-radius: 5px; 
}
    
 
.item {
    position: relative;
    margin: 10px 0;
    
}    


    
.btn-block {
    margin-top: 10px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #3b3b3a;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background: #5034b5;
}

@media (min-width: 568px) {
    .name-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
    }
    .name-item input,.checkbox {
    width: calc(50% - 3px);
    }
   
}
.checkbox {
    display: flex;
    flex-direction: row;
    margin-left: -25px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: calc(100%);

    }
p{
    text-align: center;
    margin: 30px;
    color: white;
}
a{
    color: white;
}
