*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

.container{
    max-width: 1200px;
    display: grid;
}

.img {
    
    padding: 16px;
    height: 64;
  }

  @media (min-width: 600px) {
    .container { grid-template-columns: repeat(2, 1fr); }
  }

  @media (min-width: 900px) {
    .container { grid-template-columns: repeat(3, 1fr); }
  }